/*
 *   CSS file for popup addition
 *   Author: Caleb Halverson (A00488146)
 */

/* "Settings" <- title text and background */
title {
    background-color: #303030;
    color: white;
}

/* sets body colour and background, plus popup size */
body {
    background-color: #303030;
    color: white;
    font-size: 7vmax;
    width: 97vmax;
    height: 82vmax;
    text-align: center;
}

/* settings for '?' button */
button {
    background-color: lightseagreen;
    color: white;
    font-size: 8vmax;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

/* sets the colour of the length sliders 'thumbs' */
range-row {
    color: lightseagreen;
}

/* sets background and text colours for behind the sliders & slider subtexts */
.field {
    background-color: #303030;
    color: white;
}

/* sets slider background and width for short length slider */
#short-press-lengths {
    accent-color: lightseagreen;
    width: 100%;
}

/* sets slider background and width for long length slider */
#long-press-lengths {
    accent-color: lightseagreen;
    width: 100%;
}
